<% provide :page_title, "ルーム作成" %>

<h1 class="my-2">ルーム作成</h1>

<%= form_for(@room, url: create_room_path) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="my-4">

    <%= f.label :code do %>
      <div>
        ルームIDを決めてください
        <ul class="small my-0 pl-4">
          <li>IDはルームのURLの一部になります</li>
          <ul class="my-0 pl-4">
            <li><%= ENV['BASE_URL'] %>/[ルームID]</li>
          </ul>
          <li>長さは8〜255文字です</li>
          <li>入力されている初期値から変更できます</li>
          <li>アルファベット、数字、ハイフン( - )、アンダースコア( _ )が使えます</li>
        </ul>
      </div>
    <% end %>
    <%= f.text_field :code, class: 'form-control ml-4 w-75' %>
  </div>

  <div class="my-4">
    <%= f.label :name do %>
      ルームの名前を決めてください
      <ul class="small my-0 pl-4">
        <li>ルーム画面で参加者に表示されます</li>
        <li>長さは1〜255文字です</li>
      </ul>
    <% end %>
    <%= f.text_field :name, class: 'form-control ml-4 w-75' %>
  </div>

  <div class="my-4 text-center">
    <%= f.submit "ルーム作成", class: "btn btn-primary" %>
  </div>

<% end %>
