<% unless user_signed_in? %>
  <div class="my-3">
    <%= link_to "新規登録", new_user_registration_path(params[:room_id]),
      class: "btn btn-outline-primary" %>
    <%= link_to "ログイン", new_user_session_path(params[:room_id]),
      class: "btn btn-outline-primary" %>
  </div>
<% else %>
  <%# 新規ポスト入力欄 %>
  <%= form_for(@post, url: create_post_path) do |f| %>
    <%= f.hidden_field :room_id, value: current_room_id  %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="my-4">
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control w-75' %>
      <%= f.submit "投稿", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%# 既存ポスト表示欄 %>
  <div class="my-3">
    <h2>Post List</h2>
    <ul>
    <% @room.posts.each do |post| %>
      <li><%= User.find(post.user_id).name %>: <%= post.content %> (<%= post.created_at %>)</li>
    <% end %>
    </ul>
  </div>
<% end %>

<%# show only in development environment %>
<% if Rails.env.development? %>
  <%= content_tag :div, class: "bg-info" do %>
    <h2>Debug Info:</h2>
    <div class="m-3">
      <h2>Params</h2>
      <%= debug(params) %>
    </div>

    <div class="m-3">
      <h2>Room</h2>
      <ul>
        <li>id: <%= @room.id %></li>
        <li>code: <%= @room.code %></li>
        <li>name: <%= @room.name %></li>
      </ul>
    </div>

    <div class="m-3">
      <h2>Current Session</h2>
      <ul>
        <li>Signed in: <%= user_signed_in? %></li>
        <% if user_signed_in? %>
          <li>User ID: <%= current_user.id %></li>
          <li>User Name: <%= current_user.name %></li>
          <li>Session: <%= user_session %></li>
        <% end %>
      </ul>
    </div>

    <div class="m-3">
      <h2>User List</h2>
      <ul>
      <% @room.users.each do |user| %>
        <li><%= user.id %>: <%= user.name %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
